@import "../css/bootstrap.css";
body {
  background-color: #f4f4f4;
  font-size: 16px;
}

.navbar {
  background-color: #160F29;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #F9564F;
}

.btn-success {
  background-color: #6BD425;
}

.jumbotron {
  background: #fd746c;
  background: linear-gradient(to left, #fd746c, #ff9068);
  color: #fff;
}

.jumbotron.small {
  padding: 20px 40px;
}

.jumbotron h1 {
  color: #fff;
}

.jumbotron h1 small {
  color: #fff;
  font-size: 50%;
}

.nouvelles {
  margin: 60px 0;
}

.nouvelles a {
  color: #222;
  text-decoration: none;
  cursor: pointer;
}

.nouvelles .panel {
  box-shadow: 0 0 24px -2px #ddd;
  transition: all ease 0.5s;
}

.nouvelles .panel:hover {
  box-shadow: 0 0 36px -2px #bbb;
}

.nouvelles .panel h1 {
  font-size: 36px;
  margin: 10px 0 20px;
}

.nouvelle {
  margin: 80px auto 120px;
  max-width: 760px;
}

.nouvelle h1 {
  margin: 0 0 40px;
}

img {
  max-width: 100%;
}

.main-user-container {
  margin-top: 90px;
}

.panel-body img {
  max-width: 100%;
}

.message-container {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 64px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .message-container {
    width: 100%;
    left: 0%;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .message-container {
    overflow: auto;
  }
}

#admin .message-container {
  left: 320px;
}

.message-container .message-list-container {
  position: absolute;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 24px -2px #ddd;
}

@media screen and (max-width: 767px) {
  .message-container .message-list-container {
    position: relative;
    width: 100%;
  }
}

.message-container .message-list-container .nouvelle-convo-btn-container button {
  box-shadow: none;
  border-radius: 0;
  padding: 20px 30px;
}

.message-container .message-list-container .threads-list-container {
  margin-top: 10px;
  border-top: solid 1px #eee;
}

.message-container .message-list-container .threads-list-container a {
  color: #333;
  text-decoration: none;
}

.message-container .message-list-container .threads-list-container .list-item {
  padding: 10px 20px;
  border-bottom: solid 1px #eee;
}

.message-container .message-list-container .threads-list-container .list-item:hover,
.message-container .message-list-container .threads-list-container .list-item.active {
  background-color: #f9f9f9;
}

.message-container .message-detail-container {
  position: absolute;
  left: 300px;
  top: 0;
  bottom: 0;
  right: 240px;
}

@media screen and (max-width: 767px) {
  .message-container .message-detail-container {
    position: relative;
    left: 0;
  }
}

.message-container .message-detail-container .messages {
  width: 100%;
  padding: 40px 30px;
  position: absolute;
  overflow: auto;
  bottom: 0;
  top: 163px;
  z-index: 0;
}

@media screen and (max-width: 767px) {
  .message-container .message-detail-container .messages {
    position: relative;
    top: 0;
  }
}

.message-container .message-detail-container .messages small {
  font-size: 12px;
  color: #aaa;
}

.message-container .message-detail-container .messages .well {
  color: #fff;
  border-radius: 5px;
}

.message-container .message-detail-container .messages .well.me {
  background-color: #F9564F;
}

.message-container .message-detail-container .messages .well.other {
  background-color: #B33F62;
}

.message-container .message-detail-container .messages .well h1,
.message-container .message-detail-container .messages .well h2,
.message-container .message-detail-container .messages .well h3,
.message-container .message-detail-container .messages .well h4,
.message-container .message-detail-container .messages .well h5,
.message-container .message-detail-container .messages .well h6 {
  color: #fff;
}

.message-container .message-detail-container .messages .well img {
  max-width: 100%;
}

.message-container .message-detail-container .messages .well p {
  margin: 0;
}

.message-container .message-detail-container .nouveau-message-container {
  background-color: #f1f1f1;
  padding: 20px 45px;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .message-container .message-detail-container .nouveau-message-container {
    margin-top: 60px;
  }
}

.message-container .message-detail-container .nouveau-message-container .help-block {
  font-size: 11px;
}

.message-container .message-detail-container .empty {
  padding: 15% 20%;
  text-align: center;
}

.message-container .message-details {
  background: #fd746c;
  background: linear-gradient(-35deg, #F9564F, #B33F62);
  position: fixed;
  right: 0;
  top: 60px;
  bottom: 0;
  width: 240px;
  color: #eee;
  z-index: 100;
  box-shadow: 0 0 24px -2px #ddd;
  overflow-y: auto;
}

.message-container .message-details h2 {
  font-size: 22px;
  color: #eee;
  margin: 30px 25px 15px;
  font-weight: 900;
}

.message-container .message-details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message-container .message-details ul li {
  padding: 0 25px;
}

.easy-autocomplete {
  width: 100% !important;
}

.contacts {
  margin-top: 20px;
}

#admin .left-menu {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  box-shadow: 0 0 24px -2px #ddd;
  width: 320px;
  padding: 30px 0;
  z-index: 1000;
}

#admin .admin-content {
  margin-left: 320px;
}